@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

        <h2>Special Topics</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Algorithms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Parallel and Asynchronous Programming</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Delegates and Events</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Clique Percolation</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">UI Components</a></li>
        </ul>
 
</div>
